
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header text-center">
                    <div class="dropdown profile-element"> <span>
                    <div class="logo-main"><img src="/assets/logo_white.png" alt="pic"/></div>
                            <img alt="image" class="img-circle" src="/assets/user_left.png" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> John Oate
                             </span> <span class="text-muted text-xs block">Administrator </span> </span> </a>
                        
                    </div>
                    <div class="logo-element">
                        <img src="/assets/logo_icon.png" alt="pic"/>
                    </div>
                </li>
                <li class="active">
                    <a href="/user/dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    
                </li>
                <li>
                    <a href="/user/reports"><i class="fa fa-file-text-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                </li>
                <li>
                    <a href="/user/ads_manager"><i class="fa fa-bullhorn"></i> <span class="nav-label">Ads Manager</span><span class="fa arrow"></span></a>
                    
                </li>
                <li>
                    <a href="/user/keywords"><i class="fa fa-key"></i> <span class="nav-label">Keywords</span><span class="fa arrow"></span></a>
                    
                </li>
                <li>
                    <a href="/user/setting"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                    
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg sidebar-content">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2  " href="#"><img src="/assets/toggle.png" alt="pic"/> </a>
            
        </div>
            <ul class="nav navbar-top-links navbar-right">
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/bell.png"/>  <span class="label label-primary">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-alerts c1">
                    	<h3>You have 2 notifications</h3>
                        <ul class="slim-scroll-notification">
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        
                        
                        
                        
                        
                        </ul>
                       
                            <div class="text-center link-block last-child-div">
                                <a href="#">
                                    View All 
                                    
                                </a>
                            </div>
                        
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/message.png"/>  <span class="label label-primary">16</span>
                    </a>
                    <div class="dropdown-menu dropdown-alerts c1">
                    	<h3>You have 2 Messages</h3>
                        <ul class="slim-scroll-notification">
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        
                        
                        
                        
                        
                        
                        </ul>
                       
                            <div class="text-center link-block last-child-div">
                                <a href="#">
                                    View All Messages
                                    
                                </a>
                            </div>
                        
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/status.png"/>  <span class="label label-primary">16</span>
                    </a>
                    
                </li>


                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">  <span class="text-muted text-xs block"><img src="/assets/user_right.png"/>John Oate <b class="caret"></b></span> </span> </a>
                        <div class="dropdown-menu dropdown-alerts c2">
                    	
                        <ul class="user-dropdown">
                        <li class="active">
                            <a href="#">
                            	<i class="fa fa-user"></i> My Profile
                            </a>
                        </li>
                        <li>
                            <a href="/user/setting">
                            	<i class="fa fa-cog"></i> Setting
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            	<i class="fa fa-question-circle"></i> Help
                            </a>
                        </li>
                        <li>
                            <a href="/">
                            	<i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        </ul>
                       
                            
                        
                    </div>
                    
                </li>
                
            </ul>

        </nav>
        </div>
            
            <div class="wrapper wrapper-content">
            	<div class="row">
                	<div class="col-lg-12 main-heading">
                    
                    	<h1>Dashboard</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hourly Revenue Report</h5>
                            <div class="ibox-tools">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/dollar.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                Sales
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Revenue
                                                </a>
                                            </li>
                                        </ul>
                       
                            
                        
                    				</div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/date.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                	Today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Yesterday
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last 7 Days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     This Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     All Year
                                                </a>
                                            </li>
                                        </ul>
                       
                            
                        
                    				</div>
                                </div>
                                
                               
                                <select>
                                	<option>Teechip</option>
                                    <option>Viralstyle</option>
                                    <option>Represent</option>
                                    <option>Teespring</option>
                                    <option>All</option>
                                </select>
                                 <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                               
                                
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                            <div class="ibox-content">
                                    

                                <div>
                                    <canvas id="lineChart" height="70"></canvas>
                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Teechip Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Represent Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Viralstyle Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>


                

                

            </div>
        <div class="footer">
            
            <div>
                Copyright © 2014-2015 StealthROI. All rights reserved.
            </div>
        </div>

        </div>
        
    </div>

    <script>
        $(document).ready(function() {

            var lineData = {
                labels: ["0.01", "0.02", "0.03", "0.04", "0.05", "0.06", "0.07"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(227,243,234,0.6)",
                        strokeColor: "rgba(38,166,91,1)",
                        pointColor: "rgba(38,166,91,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(38,166,91,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(68,108,179,0.5)",
                        strokeColor: "rgba(68,108,179,0.7)",
                        pointColor: "rgba(68,108,179,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(68,108,179,1)",
                        data: [0, 0, 0, 0, 0, 0, 0]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0,
                pointDot: true,
                pointDotRadius: 10,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 6,
                datasetFill: true,
                responsive: true,
				scaleFontFamily: " 'robotoregular', sans-serif, Arial, Helvetica",
				scaleFontSize: 16,
				responsive: true,
				tooltipFillColor: "rgba(91,179,240,0.55)",
				tooltipFontColor: "#446cb3",
				tooltipTitleFontFamily: "robotoregular', sans-serif, Arial, Helvetica",
				tooltipTitleFontSize: 14,
				tooltipTitleFontStyle: "light",
				tooltipTitleFontColor: "#fff",
				tooltipYPadding: 12,
				tooltipXPadding: 50,
				tooltipCaretSize: 8,
				tooltipCornerRadius: 5,
				tooltipXOffset: 10,
				tooltipTemplate: ""
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

        });
    </script>
     <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                
            });

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row" ] );

        }
    </script>