
    <div id="wrapper">
        <%= render :partial => "/shared/left_side_menu" %>
        <div id="page-wrapper" class="gray-bg sidebar-content">
            <%= render :partial => "/shared/header" %>
            <div class="wrapper wrapper-content">
            	<div class="row">
                	<div class="main-heading">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                    	   <h1>Dashboard</h1>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                    <div class="btn-group wrapper-dropdown-5 c8">
                        <button type="button" class="btn btn-default dropdown-toggle select-btn-1" data-toggle="dropdown" id="graphStoreButton">
                            <span data-bind="label">Viralstyle</span>&nbsp; 
                        </button>
                        <ul class="dropdown-menu select-drop-menu" role="menu">
                            <li><a href="#"  onclick="topGraphRedraw(0,0,1);">Viralstyle</a></li>
                            <li><a href="#"  onclick="topGraphRedraw(0,0,2);">TeeChip</a></li>
                            <li><a href="#"  onclick="topGraphRedraw(0,0,3);">Represent</a></li>
                            <li><a href="#"  onclick="topGraphRedraw(0,0,4);">TeeSpring</a></li>
                            
                            <li><a href="#"  onclick="topGraphRedraw(0,0,99);">All</a></li>
                        </ul>
                    </div>
                    <!-- <div class="btn-group wrapper-dropdown-5 c8">
                        <button type="button" class="btn btn-default dropdown-toggle select-btn-1" data-toggle="dropdown" id="graphTypeButton">
                            <span data-bind="label">Sales</span>&nbsp;  
                        </button>
                        <ul class="dropdown-menu select-drop-menu" role="menu">
                            <li><a href="#" onclick="topGraphRedraw(1,0,0);">Sales</a></li>
                            <li><a href="#" onclick="topGraphRedraw(2,0,0);">Revenue</a></li>
                        </ul>
                    </div> -->
                    <div class="btn-group wrapper-dropdown-5 c8">
                        <button type="button" class="btn btn-default dropdown-toggle select-btn-1" data-toggle="dropdown" id="graphTimeButton">
                            <span data-bind="label">Today</span>&nbsp;  
                        </button>
                        <ul class="dropdown-menu select-drop-menu" role="menu">
                            <li ><a href="#" onclick="topGraphRedraw(0,1,0);">Today</a></li>
                            <li><a href="#" onclick="topGraphRedraw(0,2,0);">Yesterday</a></li>
                            <li><a href="#" onclick="topGraphRedraw(0,3,0);">Last 7 Days</a></li>
                            <li><a href="#"  onclick="topGraphRedraw(0,4,0);">This Month</a></li>
                            <li><a href="#" onclick="topGraphRedraw(0,5,0);">Last Month</a></li>
                            <li><a href="#" onclick="topGraphRedraw(0,6,0);">All Year</a></li>
                        </ul>
                    </div>
                    
                    
                </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                               <!-- <i class="fa fa-bar-chart"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummaryRevenue">
                                     $0.00
                                </div>
                                <div class="desc">
                                     Revenue
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison blue-v4">
                            <div class="visual">
                              <!-- <i class="fa fa-paper-plane"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummarySpent">
                                     0
                                </div>
                                <div class="desc">
                                     Ad Spent
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison blue-v6">
                            <div class="visual">
                             <!--  <i class="fa fa-money"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummaryROI">
                                     0%
                                </div>
                                <div class="desc">
                                     ROI
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison blue-v4">
                            <div class="visual">
                               <!-- <i class="fa fa-university"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummaryVSCampaigns">
                                     0
                                </div>
                                <div class="desc">
                                     Active  Campaigns
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison blue-v5">
                            <div class="visual">
                                <!--<i class="fa fa-cart-plus"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummaryOrders">
                                     0
                                </div>
                                <div class="desc">
                                     Units Sold
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison blue-vg">
                            <div class="visual">
                               <!-- <i class="fa fa-line-chart"></i>-->
                            </div>
                            <div class="details">
                                <div class="number"  id="topSummaryProfit">
                                     $0.00
                                </div>
                                <div class="desc">
                                     PROFIT
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hourly Revenue Report</h5>
                            <div class="ibox-tools">
                                <!-- <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/dollar.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                Sales
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Revenue
                                                </a>
                                            </li>
                                        </ul>                        
                    				</div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/date.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                	Today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Yesterday
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last 7 Days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     This Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     All Year
                                                </a>
                                            </li>
                                        </ul>                        
                    				</div>
                                </div>
                                <select>
                                	<option>Teechip</option>
                                    <option>Viralstyle</option>
                                    <option>Represent</option>
                                    <option>Teespring</option>
                                    <option>All</option>
                                </select> -->
                                 <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                               
                                
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                            <div class="ibox-content">
                                <div col-md-12>
                                    <div class="chart-responsive">
                                        <!-- Sales Chart Canvas -->
                                        <div id="salesChart" style="height: 320px;"><div class="text-center full-width-load"><div id='preloader_2'><span></span><span></span><span></span><span></span><span></span></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="teechiptableDivContainer">
                <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Teechip Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            </div>
            <div  id="representtableDivContainer">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Represent Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            </div>
            <div  id="vstableDivContainer">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Viralstyle Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive" id="tableDiv">
                            <div class="text-center"><div id='preloader_2'><span></span><span></span><span></span><span></span><span></span></div></div>
                        </div>

                    <!-- <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table> -->

                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        <%= render :partial => "/shared/footer" %>
        </div>
    </div>

    <script type="text/javascript">

        var graphTypeIndex = 1; //graphTypeIndex 1 = Revenue and 2 = Sales
        var graphTimeIndex = 1; //graphTimeIndex 1= Today, 2 = Yesterday, 3=Last Seven Days, 4= This Month, 5= Last Month, 6 = All time
        var graphStoreIndex = 1; //graphStoreIndex 1 = ViralStyle 2  = Teechip 99 = All Stores.
        var graphType=new Array;
        graphType[1]="Revenue";
        graphType[2]="Sales";
        
        var graphTime=new Array;
        graphTime[1]="Today";
        graphTime[2]="Yesterday";
        graphTime[3]="Last Seven Days";
        graphTime[4]="This Month";
        graphTime[5]="Last Month";
        graphTime[6]="All Time";
        
        
        var graphStore=new Array;
        graphStore[1]="ViralStyle";
        graphStore[2]="TeeChip";
        graphStore[3]="Represent";
        graphStore[4]="TeeSpring";
        graphStore[99]="All Stores";
        
        
        var globalTopGraphRequestIndex = 0; 

        $(document).ready(function() {  
            /*Viralstyle table code*/
            $.ajax({
                url: "/home/get_viralstyle",
                type: "get",
                // data: {parameters: {email: "dev@stealthroi.com"}},
                data: {graphtimeindex: graphTime[graphTimeIndex]},
                // dataType: "json",
                success : function (data) {
                    //console.log("get_viralstyle" + data)
                    document.getElementById("tableDiv").innerHTML= $($.parseHTML(data)).filter("#viralstyle_table").html();//data.response;
                    $('#my-table').dataTable({
                        "aLengthMenu": [
                            [10, 25, 50, 100, -1],
                            [10, 25, 50, 100, "All"]
                        ],
                        
                    });
                     
                },
                error : function () {
                     alert("Error");
                } 
            }) 

            /*TEECHIP table code*/
            // $.ajax({
            //     url: "/home/get_teechip",
            //     type: "get",
            //     dataType: "json",
            //     success : function (data) {
            //         document.getElementById("teechiptableDiv").innerHTML= data;
            //         $('#teechip-table').dataTable({
            //             "aLengthMenu": [
            //                 [10, 25, 50, 100, -1],
            //                 [10, 25, 50, 100, "All"]
            //             ]
            //         });
            //     },
            //     error : function (xmlHttpRequest, textStatus, errorThrown) {
            //         alert("Error " + errorThrown);
            //         if(textStatus==='timeout'){
            //             alert("Request on From Midnight Data timed out");
            //         }
            //     } 
            // });


            // /*REPRESENT table code*/
            //     $.ajax({
            //         url: "/home/get_represent",
            //         type: "get",
            //         dataType: "json",
            //         success : function (data) {
            //             document.getElementById("representtableDiv").innerHTML= data;
            //             $('#represent-table').dataTable({
            //                 "aLengthMenu": [
            //                     [10, 25, 50, 100, -1],
            //                     [10, 25, 50, 100, "All"]
            //                 ]
            //             });
            //         },
            //         error : function (xmlHttpRequest, textStatus, errorThrown) {
            //             alert("Error " + errorThrown);
            //             if(textStatus==='timeout')
            //                 alert("Request on From Midnight Data timed out");
            //         }
            //     });

            topGraphRedraw(0,0,0);
            topCampaignSummary();

            function topCampaignSummary(){
                document.getElementById("topSummaryVSCampaigns").innerHTML= '<div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>';
                $.ajax({
                    url: "/home/get_top_campaigns",
                    type: "get",
                    // data: {parameters: {email: "dev@stealthroi.com"}},
                    dataType: "json",
                        success : function (data) {
                            data = data.response
                            console.log("get_top_campaigns")
                            console.log("Response was: "+data);
                            myArray=data.split("customSplitter");
                            document.getElementById("topSummaryVSCampaigns").innerHTML=myArray[0];
                            //document.getElementById("topSummaryAdvertisements").innerHTML=myArray[1];
                        },
                        error : function (xmlHttpRequest, textStatus, errorThrown) {
                        alert("Error " + errorThrown);
                        if(textStatus==='timeout')
                            alert("Request on From Midnight Data timed out");
                    } 
                });
            }   

            
        });
    </script>    

    <script>
    //     $(document).ready(function() {

    //         var lineData = {
    //             labels: ["0.01", "0.02", "0.03", "0.04", "0.05", "0.06", "0.07"],
    //             datasets: [
    //                 {
    //                     label: "Example dataset",
    //                     fillColor: "rgba(227,243,234,0.6)",
    //                     strokeColor: "rgba(38,166,91,1)",
    //                     pointColor: "rgba(38,166,91,1)",
    //                     pointStrokeColor: "#fff",
    //                     pointHighlightFill: "#fff",
    //                     pointHighlightStroke: "rgba(38,166,91,1)",
    //                     data: [65, 59, 80, 81, 56, 55, 40]
    //                 },
    //                 {
    //                     label: "Example dataset",
    //                     fillColor: "rgba(68,108,179,0.5)",
    //                     strokeColor: "rgba(68,108,179,0.7)",
    //                     pointColor: "rgba(68,108,179,1)",
    //                     pointStrokeColor: "#fff",
    //                     pointHighlightFill: "#fff",
    //                     pointHighlightStroke: "rgba(68,108,179,1)",
    //                     data: [0, 0, 0, 0, 0, 0, 0]
    //                 }
    //             ]
    //         };

    //         var lineOptions = {
    //             scaleShowGridLines: true,
    //             scaleGridLineColor: "rgba(0,0,0,.05)",
    //             scaleGridLineWidth: 1,
    //             bezierCurve: true,
    //             bezierCurveTension: 0,
    //             pointDot: true,
    //             pointDotRadius: 10,
    //             pointDotStrokeWidth: 1,
    //             pointHitDetectionRadius: 20,
    //             datasetStroke: true,
    //             datasetStrokeWidth: 6,
    //             datasetFill: true,
    //             responsive: true,
				// scaleFontFamily: " 'robotoregular', sans-serif, Arial, Helvetica",
				// scaleFontSize: 16,
				// responsive: true,
				// tooltipFillColor: "rgba(91,179,240,0.55)",
				// tooltipFontColor: "#446cb3",
				// tooltipTitleFontFamily: "robotoregular', sans-serif, Arial, Helvetica",
				// tooltipTitleFontSize: 14,
				// tooltipTitleFontStyle: "light",
				// tooltipTitleFontColor: "#fff",
				// tooltipYPadding: 12,
				// tooltipXPadding: 50,
				// tooltipCaretSize: 8,
				// tooltipCornerRadius: 5,
				// tooltipXOffset: 10,
				// tooltipTemplate: ""
    //         };


    //         var ctx = document.getElementById("lineChart").getContext("2d");
    //         var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

    //     });
    </script>
     <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                
            });

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row" ] );

        }
    </script>

    <script type="text/javascript">
        function topGraphRedraw(newGraphTypeIndex, newGraphTimeIndex, newGraphStoreIndex){
                var topGraphRequestIndex; //Variable with local scope
                console.log("Something about the graph needs to change. Lets Replace the graph area with a loading animation. Also the top Summary section needs to be replaced with animation");
                document.getElementById("salesChart").innerHTML= '<div class="text-center full-width-load"><div id="preloader_2"><span></span><span></span><span></span><span></span><span></span></div></div>';
                document.getElementById("topSummaryRevenue").innerHTML= '<div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>';
                document.getElementById("topSummarySpent").innerHTML= '<div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>';
                document.getElementById("topSummaryProfit").innerHTML= '<div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>';
                document.getElementById("topSummaryROI").innerHTML= '<div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>';
    
                    globalTopGraphRequestIndex +=1;
                    topGraphRequestIndex= globalTopGraphRequestIndex
                    console.log("The index for this request is: "+ globalTopGraphRequestIndex);
                    if(newGraphTypeIndex >0){
                        graphTypeIndex = newGraphTypeIndex;
                        console.log("Graph Type was changed. Let's first update the menu title");
                        document.getElementById("graphTypeButton").innerHTML= graphType[graphTypeIndex]+'</i>';
                    }
                    if(newGraphTimeIndex >0){
                        graphTimeIndex = newGraphTimeIndex;
                        console.log("Graph Time was changed. Let's first update the menu title");
                        document.getElementById("graphTimeButton").innerHTML=graphTime[graphTimeIndex]+'</i>';
                    }
                    if(newGraphStoreIndex >0){
                        graphStoreIndex = newGraphStoreIndex;
                        
                        console.log("Graph Store was changed. Let's first update the menu title");
                        document.getElementById("graphStoreButton").innerHTML= graphStore[graphStoreIndex]+'</i>';
                    
                    }
    
                    console.log("Sending Ajax request now.....");
                    console.log(graphTypeIndex)
                    console.log(graphTimeIndex)
                    console.log(graphStoreIndex)

                $.ajax({
                    url: "/home/get_top_graph",
                    type: "get",
                    // data: {parameters: {graphtypeindex: graphTypeIndex, graphtimeindex: graphTimeIndex, graphstoreindex: graphStoreIndex, email: "dev@stealthroi.com"}},
                    data: {graphtypeindex: graphTypeIndex, graphtimeindex: graphTime[graphTimeIndex], graphstoreindex: graphStoreIndex},
                    dataType: "json",
                    success : function (data) {
                        data = data.response
                        console.log("get_top_graph")
                        console.log(data)
                        /*Check if this is the most current request*/                    
                        if(topGraphRequestIndex==globalTopGraphRequestIndex){
                            //Yes this is the most current request, Update Morris Area
                            document.getElementById("salesChart").innerHTML= '';
                            
                            if(graphStoreIndex==1){
                                document.getElementById("teechiptableDivContainer").style.display= "none";
                                document.getElementById("representtableDivContainer").style.display= "none";
                                document.getElementById("vstableDivContainer").style.display= "inline";
                                console.log("tried to hide");
                            }
                            if(graphStoreIndex==2){
                                //document.getElementById("teechiptableDivContainer").style.display= "inline";
                               document.getElementById("representtableDivContainer").style.display= "none";
                               document.getElementById("vstableDivContainer").style.display= "none";
                               console.log("tried to hide");
                            }
                            if(graphStoreIndex==3){
                                document.getElementById("teechiptableDivContainer").style.display= "none";
                                document.getElementById("representtableDivContainer").style.display= "inline";
                                document.getElementById("vstableDivContainer").style.display= "none";
                                
                                console.log("tried to hide");
                            }
                            
                            if(graphTypeIndex==1){
                                Morris.Area({
                                   element: 'salesChart',
                                   data: data,
                                    xkey: 'time',
                                    parseTime: false,
                                    ykeys: ['b', 'a'],
                                    labels: ['Revenue', 'Facebook Ad-Spend'],
                                    fillOpacity: 0.1,
                                    lineColors: ['#26a65b','#446cb3'],
                                    preUnits: '$',
                                    behaveLikeLine: true,
                                    resize:true
                                });
                            }else{
                                Morris.Area({
                                   element: 'salesChart',
                                   data: data,
                                    xkey: 'time',
                                    parseTime: false,
                                    ykeys: ['b', 'a'],
                                    labels: ['Sales', 'Visits'],
                                    fillOpacity: 0.1,
                                    lineColors: ['#26a65b','#446cb3'],
                                    behaveLikeLine: true,
                                    resize:true,
                                });
                            }
                        }
                    },
                    error : function (xmlHttpRequest, textStatus, errorThrown) {
                    alert("Error " + errorThrown);
                    if(textStatus==='timeout')
                        alert("Request on From Midnight Data timed out");
                    } 
                });
        
                $.ajax({
                    url: "/home/get_top_summary",
                    type: "get",
                    data: {parameters: {graphtypeindex: graphTypeIndex, graphtimeindex: graphTime[graphTimeIndex], graphstoreindex: graphStoreIndex, email: "dev@stealthroi.com"}},
                    dataType: "json",
         
                    success : function (data) {
                        data = data.response
                        /*Check if this is the most current request*/
                        if(topGraphRequestIndex==globalTopGraphRequestIndex){
                            console.log("get_top_summary")
                            console.log("Response was: "+data);
                            myArray=data.split("customSplitter");
                            document.getElementById("topSummaryRevenue").innerHTML="$"+ myArray[0];
                            document.getElementById("topSummarySpent").innerHTML= "$"+ myArray[1];
                            document.getElementById("topSummaryProfit").innerHTML= "$"+ myArray[2];
                            document.getElementById("topSummaryROI").innerHTML= myArray[3]+"%";
                            document.getElementById("topSummaryOrders").innerHTML= myArray[4];
                        }
                    },
                            
                            
                    error : function (xmlHttpRequest, textStatus, errorThrown) {
                        alert("Error " + errorThrown);
                        if(textStatus==='timeout')
                            alert("Request on From Midnight Data timed out");
                    } 
                });
            }

            function campaignDetails(urlcode){
                //document.getElementById("notificationIcon").innerHTML='<i class="fa fa-bell c_bell"  id="notificationIcon" onclick="readNotifications()"></i> ';
                console.log("Campaign Details for urlcode : "+urlcode+" are being fetched.....");
                document.getElementById("campaignDetailsHeader").innerHTML='Ad Spend details for <a href="https://www.viralstyle.com/'+urlcode+'"  target="_blank"> https://www.viralstyle.com/'+urlcode+'</a>';
                document.getElementById("campaignDetailsBody").innerHTML="<p>Please Wait....</p><div class='text-center full-width-load'><div id='preloader_2'><span></span><span></span><span></span><span></span><span></span></div></div>";
                $.ajax({
                    url: '/home/get_campaign_details',//"http://stealthroi.com/phpscripts/campaignDetails.php",
                    //cache: false,
                    type: 'get',//"POST",
                    data: {email:"dev@stealthroi.com", urlcode: urlcode},
                    dataType: "json",
                    success : function (data) {
                        data = data.response
                        document.getElementById("campaignDetailsBody").innerHTML=data;
                        console.log("The response for campaign details was : "+data);
                    },
                        error : function (xmlHttpRequest, textStatus, errorThrown) {
                        alert("Error " + errorThrown);
                        if(textStatus==='timeout')
                            console.log("Request on Campaign Details Timed out.");
                    } 
                });
            }
    </script>
    <style type="text/css">
    .modal-backdrop{
        height: 200%;
    }
    </style>