
    <div id="wrapper">
        <%= render :partial => "/shared/left_side_menu" %>
        <div id="page-wrapper" class="gray-bg sidebar-content">
            <%= render :partial => "/shared/header" %>
            <div class="wrapper wrapper-content">
            	<div class="row">
                	<div class="col-lg-12 main-heading">
                    	<h1>Dashboard</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hourly Revenue Report</h5>
                            <div class="ibox-tools">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/dollar.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                Sales
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Revenue
                                                </a>
                                            </li>
                                        </ul>                        
                    				</div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel" >
                                        <img src="/assets/date.png"/>
                                    </a>
                                    <div class="dropdown-menu dropdown-alerts c2">
                    	
                                        <ul class="user-dropdown">
                                            <li class="active">
                                            	<a href="#">
                                                	Today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Yesterday
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last 7 Days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     This Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     Last Month
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                     All Year
                                                </a>
                                            </li>
                                        </ul>                        
                    				</div>
                                </div>
                                <select>
                                	<option>Teechip</option>
                                    <option>Viralstyle</option>
                                    <option>Represent</option>
                                    <option>Teespring</option>
                                    <option>All</option>
                                </select>
                                 <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                               
                                
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                            <div class="ibox-content">
                                <div>
                                    <canvas id="lineChart" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Teechip Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Represent Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table>

                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Viralstyle Campaign Performance Since Midnight</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive" id="tableDiv">
                            <div class="text-center"><div id='preloader_2'><span></span><span></span><span></span><span></span><span></span></div></div>
                        </div>

                    <!-- <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Url Code</th>
                        <th>Active Add Count</th>
                        <th>Add Spent</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>4
                        </td>
                        <td>1.43</td>
                        
                    </tr>
                  
                    
                    <tr class="gradeX">
                        <td>wnlstenmbflbls</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeX">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>5</td>
                        <td>1.43</td>
                        
                    </tr>
                    <tr class="gradeC">
                        <td>LoveMyBoy</td>
                        <td>3</td>
                        <td>PSP</td>
                        
                    </tr>
                    <tr class="gradeU">
                        <td>wnlstenmbflbls</td>
                        <td>6</td>
                        <td>1.43</td>
                        
                    </tr>
                    </tbody>
                    
                    </table> -->

                    </div>
                </div>
            </div>
            </div>
            </div>
        <%= render :partial => "/shared/footer" %>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {  
            $.ajax({
                url: "/home/get_data",
                type: "get",
                dataType: "json",
                success : function (data) {
                    console.log(data)
                    document.getElementById("tableDiv").innerHTML= data.response;
                    $('#my-table').dataTable({
                        "aLengthMenu": [
                            [10, 25, 50, 100, -1],
                            [10, 25, 50, 100, "All"]
                        ],
                        
                    });
                     
                },
                error : function () {
                     alert("Error");
                } 
            })    
        });
    </script>    

    <script>
        $(document).ready(function() {

            var lineData = {
                labels: ["0.01", "0.02", "0.03", "0.04", "0.05", "0.06", "0.07"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(227,243,234,0.6)",
                        strokeColor: "rgba(38,166,91,1)",
                        pointColor: "rgba(38,166,91,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(38,166,91,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(68,108,179,0.5)",
                        strokeColor: "rgba(68,108,179,0.7)",
                        pointColor: "rgba(68,108,179,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(68,108,179,1)",
                        data: [0, 0, 0, 0, 0, 0, 0]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0,
                pointDot: true,
                pointDotRadius: 10,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 6,
                datasetFill: true,
                responsive: true,
				scaleFontFamily: " 'robotoregular', sans-serif, Arial, Helvetica",
				scaleFontSize: 16,
				responsive: true,
				tooltipFillColor: "rgba(91,179,240,0.55)",
				tooltipFontColor: "#446cb3",
				tooltipTitleFontFamily: "robotoregular', sans-serif, Arial, Helvetica",
				tooltipTitleFontSize: 14,
				tooltipTitleFontStyle: "light",
				tooltipTitleFontColor: "#fff",
				tooltipYPadding: 12,
				tooltipXPadding: 50,
				tooltipCaretSize: 8,
				tooltipCornerRadius: 5,
				tooltipXOffset: 10,
				tooltipTemplate: ""
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

        });
    </script>
     <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                
            });

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row" ] );

        }
    </script>