<div id="wrapper" class="landing">
    <div id="page-wrapper" class="gray-bg sidebar-content">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                   <a href="/user/dashboard"><img src="/assets/logo_dark.png" alt="pic"/></a>
                </div>
                <%= render :partial => "/shared/top_right_navbar" %>
            </nav>
        </div>
        
        <div class="wrapper wrapper-content">
            <div class="row ">
                <div class="container">
                    <div class="three-row-up text-center">
                        <div class="col-md-4 ">
                       <!--  <a href="/user/dashboard" class="hvr-float-shadow">
                            <img src="/assets/dashboard.png" alt="pic" class="animated  tossing"/>
                            <h2>Dashboard</h2>
                        </a> -->
                        <%= link_to '<img src="/assets/dashboard.png" alt="pic" class="animated"/>
                            <h2>Dashboard</h2>'.html_safe, "/user/dashboard", method: :get, :class => "hvr-float-shadow"  %>
                    </div>
                        <div class="col-md-4 ">
                            <a href="/user/reports" class="hvr-float-shadow">
                                <img src="/assets/reports.png" alt="pic" class="animated"/>
                                <h2>Reports</h2>
                            </a>
                        </div>
                        <div class="col-md-4 ">
                            <a href="/user/ads_manager" class="hvr-float-shadow">
                                <img src="/assets/ads_manager.png" alt="pic" class="animated"/>
                                <h2>Ads Manager</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="container">
                    <div class="two-row-up text-center">
                        
                        <div class=" col-md-offset-2 col-md-4 ">
                            <a href="/user/keywords" class="hvr-float-shadow">
                                <img src="/assets/keywords.png" alt="pic" class="animated"/>
                                <h2>Keywords</h2>
                            </a>
                        </div>
                        <div class="col-md-4 ">
                            <a href="/user/setting" class="hvr-float-shadow">
                                <img src="/assets/settings.png" alt="pic" class="animated"/>
                                <h2>Settings</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render :partial => "/shared/footer" %>

    </div>
</div>