
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header text-center">
                    <div class="dropdown profile-element"> <span>
                    <div class="logo-main"><img src="/assets/logo_white.png" alt="pic"/></div>
                            <img alt="image" class="img-circle" src="/assets/user_left.png" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> John Oate
                             </span> <span class="text-muted text-xs block">Administrator </span> </span> </a>
                        
                    </div>
                    <div class="logo-element">
                        SR
                    </div>
                </li>
                <li >
                    <a href="/user/dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    
                </li>
                <li class="active">
                    <a href="/user/reports"><i class="fa fa-file-text-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                </li>
                <li >
                    <a href="/user/ads_manager"><i class="fa fa-bullhorn"></i> <span class="nav-label">Ads Manager</span><span class="fa arrow"></span></a>
                    
                </li>
                <li>
                    <a href="/user/keywords"><i class="fa fa-key"></i> <span class="nav-label">Keywords</span><span class="fa arrow"></span></a>
                    
                </li>
                <li>
                    <a href="/user/setting"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                    
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg sidebar-content">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2  " href="#"><img src="/assets/toggle.png" alt="pic"/> </a>
            
        </div>
            <ul class="nav navbar-top-links navbar-right">
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/bell.png"/>  <span class="label label-primary">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-alerts c1">
                    	<h3>You have 2 notifications</h3>
                        <ul class="slim-scroll-notification">
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="notify pull-left">
                                        	Total ad-spent for Teechip <br/>
yesterday was $759.77
                                        </div>
                                        <div class="time_image pull-right">
                                        	<span class="time_exist">
                                            	2 hours
                                            </span>
                                            <span class="dollar_sign">
                                            	<img src="/assets/dollar_notify.png" alt=""/>
                                            </span>
                                        </div>
                                </div>
                            
                        </li>
                        
                        
                        
                        
                        
                        </ul>
                       
                            <div class="text-center link-block last-child-div">
                                <a href="#">
                                    View All 
                                    
                                </a>
                            </div>
                        
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/message.png"/>  <span class="label label-primary">16</span>
                    </a>
                    <div class="dropdown-menu dropdown-alerts c1">
                    	<h3>You have 2 Messages</h3>
                        <ul class="slim-scroll-notification">
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        <li>
                            
                                <div class="notification_buzz">
                                    	<div class="message_left pull-left">
                                        	<img src="/assets/user_message.png" alt="pic"/>
                                        </div>
                                        <div class="message_right pull-right">
                                        	<div class="message_top">
                                            	<div class="user_name">John Oate</div>
                                                <div class="time_ago">2 hours ago</div>
                                            </div>
                                            <div class="message_botttom">
                                            	Lorem ipsum dolor sit amet.
                                            </div>
                                        
                                        </div>
                                </div>
                            
                        </li>
                        
                        
                        
                        
                        
                        
                        </ul>
                       
                            <div class="text-center link-block last-child-div">
                                <a href="#">
                                    View All Messages
                                    
                                </a>
                            </div>
                        
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <img src="/assets/status.png"/>  <span class="label label-primary">16</span>
                    </a>
                    
                </li>


                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">  <span class="text-muted text-xs block"><img src="/assets/user_right.png"/>John Oate <b class="caret"></b></span> </span> </a>
                        <div class="dropdown-menu dropdown-alerts c2">
                    	
                        <ul class="user-dropdown">
                        <li class="active">
                            <a href="#">
                            	<i class="fa fa-user"></i> My Profile
                            </a>
                        </li>
                        <li>
                            <a href="/user/setting">
                            	<i class="fa fa-cog"></i> Setting
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            	<i class="fa fa-question-circle"></i> Help
                            </a>
                        </li>
                        <li>
                            <a href="/">
                            	<i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        </ul>
                       
                            
                        
                    </div>
                    
                </li>
                
            </ul>

        </nav>
        </div>
            
            <div class="wrapper wrapper-content">
            	<div class="row">
                	<div class="col-lg-12 main-heading">
                    
                    	<h1>Reports</h1>
                    </div>
                </div>
                
                
                <div class="row">
                	<div class="col-lg-12">
                    	<div class="coming_soon">
                        	Coming Soon
                        </div>
                    </div>
                	
                </div>
            


                

                

            </div>
        <div class="footer">
            
            <div>
                Copyright © 2014-2015 StealthROI. All rights reserved.
            </div>
        </div>

        </div>
        
    </div>
