<div id="wrapper">
    <%= render :partial => "/shared/left_side_menu" %>
    <div id="page-wrapper" class="gray-bg sidebar-content">
        <%= render :partial => "/shared/header" %>            
        <div class="wrapper wrapper-content">
        	<div class="row">
            	<div class="col-lg-12 main-heading">
                	<h1>Reports</h1>
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-12">
                	<div class="coming_soon">
                    	Coming Soon
                    </div>
                </div>
            	
            </div>
        </div>
        <%= render :partial => "/shared/footer" %>
    </div>        
</div>
